extends layout

block content

    .container

      h1= title

      .content-container
        if messages.length
          ul
            each messg in messages
              li
                h3 #{messg.user} #{messg.added}
                p #{messg.text}
  
      .form-container
        form(action='/new', method='post')

          .input
            input(type='text', name='messageUser', id='user' placeholder='Username' required)
          
            input(type='text', name='messageText', id='text'  placeholder='message' required)

          .submit
            button(type='submit') Send

